@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Muller2"),
         /* Если не получилось, загрузит woff2 */
         url('./fonts/MULLERREGULAR.woff') format("woff2"),
  }
  


body {
    position: relative;
    box-sizing: border-box;
    font-family: Muller, sans-serif;
}


/* MODAL */

#modal {
    z-index: 30000;
}

.loader{
    max-width: 426px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
}

#modal  .modal-content, #modalSuccess .modal-content{
    max-width: 426px;
    margin: 0 auto;
    padding-bottom: 52px;
    background-image: url(./img/modal-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#modalSuccess .modal-content{
    min-height: 464px;
    padding-bottom: 0;
    padding-top: 90px;
}

#modalSuccess .modal-content{
    
}


#modal .modal-content input {
    text-indent: 50px;
    display: block;
    width: 355px;
    height: 70px;
    border: none;
    -webkit-box-shadow: inset 2px 2px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 2px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 18px;
}

.modal-content input:focus{
    border: 1px solid #18bbeb;
}

.modal-content input[name='name']{
    background: url(./svg/form-person.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
    background-color: #f8f8f8;
}

.modal-content input[name='phone']{
    background: url(./svg/form-phone.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 18px center;
    background-color: #f8f8f8;
}

.modal_title, .modal_success-title{
    padding-top: 50px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
}

.modal_desc, .modal_success-desc{
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-close-btn{
    position: absolute;
    top: -17px;
    right: -17px;
    border: none;
    background-color: none;
}

.modal-close-btn.btn-close{
    width: 5px;
    height: 5px;
}

.submitBtn{
    border: 0;
    outline: none;
}

.submitBtn:active, .submitBtn:focus {
    outline: none;
  }
  .submitBtn::-moz-focus-inner {
    border: 0;
  }

.submitBtn.button-general{
    width: 355px;
    max-width: 355px;
}

#modalSuccess{

}

/* END MODAL STYLES */

/* SNIPPET */

#floatingCirclesG{
	position:relative;
	width:115px;
	height:115px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:21px;
	width:21px;
	border-radius:11px;
		-o-border-radius:11px;
		-ms-border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:0.932s;
		-o-animation-duration:0.932s;
		-ms-animation-duration:0.932s;
		-webkit-animation-duration:0.932s;
		-moz-animation-duration:0.932s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:47px;
	animation-delay:0.3495s;
		-o-animation-delay:0.3495s;
		-ms-animation-delay:0.3495s;
		-webkit-animation-delay:0.3495s;
		-moz-animation-delay:0.3495s;
}

#frotateG_02{
	left:13px;
	top:13px;
	animation-delay:0.466s;
		-o-animation-delay:0.466s;
		-ms-animation-delay:0.466s;
		-webkit-animation-delay:0.466s;
		-moz-animation-delay:0.466s;
}

#frotateG_03{
	left:47px;
	top:0;
	animation-delay:0.5825s;
		-o-animation-delay:0.5825s;
		-ms-animation-delay:0.5825s;
		-webkit-animation-delay:0.5825s;
		-moz-animation-delay:0.5825s;
}

#frotateG_04{
	right:13px;
	top:13px;
	animation-delay:0.699s;
		-o-animation-delay:0.699s;
		-ms-animation-delay:0.699s;
		-webkit-animation-delay:0.699s;
		-moz-animation-delay:0.699s;
}

#frotateG_05{
	right:0;
	top:47px;
	animation-delay:0.8155s;
		-o-animation-delay:0.8155s;
		-ms-animation-delay:0.8155s;
		-webkit-animation-delay:0.8155s;
		-moz-animation-delay:0.8155s;
}

#frotateG_06{
	right:13px;
	bottom:13px;
	animation-delay:0.932s;
		-o-animation-delay:0.932s;
		-ms-animation-delay:0.932s;
		-webkit-animation-delay:0.932s;
		-moz-animation-delay:0.932s;
}

#frotateG_07{
	left:47px;
	bottom:0;
	animation-delay:1.0485s;
		-o-animation-delay:1.0485s;
		-ms-animation-delay:1.0485s;
		-webkit-animation-delay:1.0485s;
		-moz-animation-delay:1.0485s;
}

#frotateG_08{
	left:13px;
	bottom:13px;
	animation-delay:1.165s;
		-o-animation-delay:1.165s;
		-ms-animation-delay:1.165s;
		-webkit-animation-delay:1.165s;
		-moz-animation-delay:1.165s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(255,34,115);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(255,34,115);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(255,34,115);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(255,34,115);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(255,34,115);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

/* END SNIPPET */

.service_title, .consult_title, .because-title, .slider_title, .steps_title, .team_header, .locate_title {
    font-size: 48px;
    margin-bottom: -3px;
}

.bold-span {
    font-weight: bold;
}

.mark-span {
    margin-bottom: 8px;
    background: linear-gradient(0deg, #0170B0, #18BBEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hide-span {
    display: inline;
}

.show-span {
    display: none;
}

.button-genereal-wrap {
    display: inline-block;
    border: 1px solid #FFC6DA;
    padding: 7px;
    border-radius: 53px;
}

.button-genereal-wrap a{
    text-decoration: none;
}

.button-general {
    width: 265px;
    max-width: 265px;
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;
    background: linear-gradient(276deg, #FF0000 -10%, #FF2272 75%);
    box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
    border-radius: 47px;
    font-size: 18px;
    color: white;
    transition-property: all;
    transition-duration: .9s;
}

.button-general:active{
    color: white;
}

.button-general:hover{
    color: white;
    background: linear-gradient(276deg, #FF3945 -10%, #FF4996 75%);
    box-shadow: 0px 13px 8px rgba(251, 29, 109, 0.06), 0px 0px 15px rgba(255, 48, 98, 0.3);

}

.button-general:visited{
    color: white;
    background: linear-gradient(276deg, #DD0000 -10%, #F80059 75%);
    box-shadow: 0px 0px 15px rgba(255, 48, 85, 0.2), inset 0px 5px 4px #FFFFFF;
}


.form-general, .form-general input, .form-general button{
    outline: none;
    border: none;
}

.form-general input{
    padding-bottom: 5px;
    border-bottom: 0.5px solid #A0A0A0;
    color: #ff2272;
    margin-bottom: 30px;
}

.form-generalinput:focus::-webkit-input-placeholder,
.form-generalinput:focus:-moz-placeholder,
.form-generalinput:focus::-moz-placeholder,
.form-generalinput:focus:-ms-input-placeholder 
{
    color:    #ff2272;
}



input:focus {
    border-bottom: 0.5px solid #ff2272;
}

.slick-prev.slick-arrow{
    display: none;
}



/* GENEREAL END */


/* OWL SLIDER */

.slider-owl-2{
    position: relative;
}

.slider-wrap{
    position: relative;
}


.owl-dots{
    background-color: red;
}

.owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    /* transition: opacity .2s ease; */
    transition: all;
    border-radius: 30px;
}

.owl-dot.active {
    border: none;
}

.owl-next:focus, .owl-prev:focus {outline: none;}

.owl-dot:focus {outline: none;}

.owl-dot.active span{
    position: relative;
    background: linear-gradient(316deg, #0170B0 5%, #18BBEB 100%) !important;
}

.owl-dot.active span::after{
    position: absolute;
    content: '';
    top: calc( 50% - 7.4px ) ;
    left: -25%;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #0170B0 ;
}

.owl-dots-container button{
    background-color: white;
    border: none;
    padding: 0;
}

.owl-item.active{
    filter: blur(4px);
}

.owl-item.active.center  {
    transform: translateY(-10%) scale(1.2);
    filter: blur(0);
    transition: all 0.4s linear;
}

/* .owl-item {
    width: 312px;
}

.owl-item.active.center{
    width: 312px;
    
} */

.owl-item-width-container{
    /* max-width: 268px; */
}

.owl-stage{
    padding-top: 100px;
}

.owl-arrow-container{
    
}

.owl-prev {
    padding: 0;
    border: 0;
}

.owl-next {
    border: 0;
    padding: 0;
}

.owl-prev-arrow , .owl-next-arrow{
    width: 57px;
    height: 57px;
    border: 5px solid red;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    border: none;
    padding: 0;
    z-index: 1000;
    border: 1px solid rgba(24, 187, 235, 0.5);
    box-shadow: inset 0px 0px 0px 5px rgba(24, 187, 235, 0.2);
}

.owl-prev-arrow:hover , .owl-next-arrow:hover{
    box-shadow: inset 0px 0px 0px 5px #18BBEB;
}

.owl-prev-arrow{
    top: 50%;
    left: -10%;
}

.arrow-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  */

.owl-next-arrow{
    top: 50%;
    right: -10%;
}



/* OWL SLIDER END */

/* COCOEN */


.cocoen-drag::after {
    content: '';
    height: 165px;
    left: calc( 50% - 31px);
    margin-left: -7px;
    margin-top: -18px;
    position: absolute;
    top: calc( 50% - 57px);
    width: 77px;
    z-index: 1000;
    background-image: url(./svg/before-after-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* COCOEN END */

.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #EBEBEB;
    padding: 22px 60px;
    position: fixed;
    z-index: 20000;
}

.header_logoblock-img {
    max-width: 166px;
}

.header_logo-img {
    width: 100%;
    
}

.header_logo-desc {
    max-width: 129px;
    font-size: 14px;
    color: #0170B0;
}

.nav {
    max-width: 1200px;
}

.nav_item {
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    position: relative;
    color: #A0A0A0;
}

.nav_item:not(:last-child){
    margin-right: 50px;
}

.nav_item:hover::after {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    height: 1px;
    width: 100%;
    background-color: #0170B0;
}


.header_contact-imgWrap {
    min-width: 35px;
    min-height: 35px;
    margin-right: 10px;
}

.header_contact-img {
    width: 100%;
}


.header_contact-phone {
    color: #0170B0;
    font-weight: bold;
    font-size: 23.8235px;
}

.header_contact-sub {
    position: relative;
    font-size: 15.8824px;
    text-align: right;
    text-decoration: none;
    color: #0170B0;
}

.header_contact-sub:after{
    content:'';
    position: absolute; 
    width: 100%;
    height: 1px;
    bottom: 3px;
    left: 0;
    background-color:#0170B0;
}

.nav_btn-item {
    position: relative;
    width: 25px;
    height: 5px;
    background: linear-gradient(316deg, #0170B0 5%, #18BBEB 100%);
    transition: .1s all linear; 
}

.nav_btn-item:before {
    width: 35px;
    height: 5px;
    position: absolute;
    top: -10px;
    right: 0;
    content: '';
    background: linear-gradient(316deg, #0170B0 5%, #18BBEB 100%);
    transition: .3s all linear; 
}

.nav_btn-item::after {
    width: 15px;
    height: 5px;
    position: absolute;
    top: 10px;
    right: 0;
    content: '';
    background: linear-gradient(316deg, #0170B0 5%, #18BBEB 100%);
    transition: .3s all linear;  
}

.animate-nav-item.nav_btn-item {
    /* transform: rotate(260deg); */
    height: 0;
}

.animate-nav-item.nav_btn-item::before{
    transform: rotate(-45deg);
    top: 0;
}

.animate-nav-item.nav_btn-item::after{
    width: 35px;
    transform: rotate(45deg);
    top: 0;
}

.sidebar {
    overflow: scroll;
    margin-top: 62px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: calc(100vh - 62px);
    background-color: #fff;
    transition: .5s all linear;
    padding-top: 25px;
    padding-left: 27px;
}

.sidebar_body{
    position: relative;
}

.animate-sidebar.sidebar{
    transform: translateX(0%);
}


.sidebar_nav-item {
    display: inline-block;
    color: #A0A0A0;
    text-decoration: none;
    position: relative;
}

.sidebar_nav-item:hover.sidebar_nav-item::after{
    position: absolute;
    content: '';
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:rgb(1, 112, 176);;
}

.sidebar_contacts-block {
    position: relative;
    margin-bottom: 35px;
    color: #0170B0;
}

.sidebar_contacts-block::before{
    content: '';
    position: absolute;
    top: calc( 50% - 18px) ;
    left: 0;
    width: 35px;
    height: 35px;
    background-image: url(./svg/logo-phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.sidebar_contacts-block{
    padding-left: 40px;
}

.sidebar_media{
}

.sidebar_media-item{
    max-width: 51px;
    max-height: 51px;
}

.sidebar_media-item:not(:last-child){
    margin-right: 21px;
}

.sidebar_media-icon{
    width: 100%;
}

.sidebar_bottom-block{
    height: 230px;
    width: 100%;
    background-image: url(./img/sidebar-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.sidebar_bottom-img{
    width: 100%;
}

/* HEADER and NAV and NAV-BTN END*/

/* PLAN */

.plan {
    padding-top: 150px;
    padding-bottom: 77px;
    background-image: url(./svg/header-line.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.plan_left {
    max-width:  425px;
    max-height: 493px; 
}

.plan_img {
    width: 100%;
    margin-left: -40px;
}

.plan_title {
    font-size: 55px;
    color: #29292B;
}

.plan_subtitle {
    font-size: 18px;
    line-height: 120%;
    color: #A0A0A0;
    margin-bottom: 77px;
}

.plan_right-bottom {
    position: relative;
}

.plan_bottom-title {
    position: relative;
    font-size: 24px;
    line-height: 24px;
    background: linear-gradient(0deg, #0170B0, #18BBEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan_bottom-title::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 41px;
    top: 1px;
    left: -15px;
    background: linear-gradient(0deg, #0170B0, #18BBEB);
}

/* PLAN END */

/* GIFT */
.gift {
    max-width: 751px;
    margin: 0 auto;
}


.gift_top {
    text-align: center;
}

.gift_header {
    color: #29292B;
    font-size: 46px;
    line-height: 100%;
    margin-bottom: 0px;
}


.gift_subtitle {
    font-size: 22px;
    color: #A0A0A0;
    margin-bottom: 25px;
}

.gift_bottom {
    margin: 0 auto;
}

.gift_slider {
    max-width: 710px;
    max-height: 385px;
    margin-bottom: 20px;
}

.gift_slider-img {
    width: 100%;
}

.gift_bottom-subtitle{
    position: relative;
    padding-left: 45px;
    font-size: 18px;
}

.gift_bottom-subtitle::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 28px;
    height: 44px;
    background-image: url(./svg/before-after.svg);
}

/* GIFT END */

/* SERVICE */

.service{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 74px;
    background-image: url(./img/service-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.service_wrap {
}

.service_title {
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 120%;
}

.service_item {
    margin-bottom: 50px;
}

.service_item-block {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 16px;
    
    margin: 0 auto;
    margin-bottom: 20px;
}

.service_item-title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 120%;
}

.service_item-img {
    max-width: 61px;
    max-height: 61px;
}

.service_desc-list {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: #AAE8FF;
}





/* SERVICE END */

/* CONSULT */


.consult {
    padding-top: 40px;
    margin-bottom: 40px;
}

.consult_top {
    text-align: center;
    font-size: 48px;
}

.consult_title {
    margin-bottom: -3px;
}

.consult_subtitle {
    display: block;
    font-size: 22px;
    margin-bottom: 25px;
    color: #A0A0A0;
}

.consult_left {
    
}

.consult_left-img {
    width: 100%;
}


.consult_right-title {
    font-size: 24px;
    color: #29292B;
    margin-bottom: 5px;
}

.consult_right-subtitle {
    max-width: 370px;
    font-size: 14px;
    color: #A0A0A0;
    margin-bottom: 20px;
}

.consult_form {
    margin-bottom: 45px;
}

.consult_form-btn {
    padding-left: 83px;
    padding-right: 83px;
}

.consult_form-phone {
    margin-bottom: 30px;
}

.consult_right-footer {
    padding-left: 50px;
}


.consult_footer-name {
    position: relative;
    font-size: 12px;
    color: #BDBDBD;
}

.consult_footer-name::before {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 36px;
    height: 40px;
    background-image: url('./svg/consultant.svg');
    background-repeat: no-repeat;
}

.consult_footer-location {
    position: relative;
    font-size: 12px;
    color: #BDBDBD;
}

.consult_footer-location::before {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 30px;
    height: 40px;
    background-image: url('./svg/consultant-address.svg');
    background-repeat: no-repeat;
}

.consult_footer-name > .mark-span, .consult_footer-location > .mark-span {
    font-size: 16px;
}

/* CONSULT END */

/* BECAUSE */
/* 





.because_item-wrap {
    max-width: 657px;
} */

.because {
    margin-bottom: 60px;
}

.because-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.because_item-img{
    width: 100%;
}

.because_item-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 62px;
    line-height: 150%;
    background: linear-gradient(#bababa, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.because_item-desc {
    max-width: 483px;
    font-size: 22px;
}
/* BECAUSE END */

/* SLIDER */

.slider {
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
}

.slider_title {
    font-size: 48px;
    margin-bottom: 5px;
}

.slider_subtitle {
    font-size: 24px;
    color: #A0A0A0;
}

/* SLIDER END */

/* FAQ */

.faq {
    background-image: url(./img/faq-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.faq_title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 25px;
}

.faq_item {
    padding: 20px 16px 20px 22px;
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px
}


.faq_item-title {
    font-size: 20px;
}

.faq_item-title:hover {
    background: linear-gradient(316deg, #0082D4, #2FCFFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq_item-title.faq-active-item{
    background: linear-gradient(-45deg, #0170B0, #18BBEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq_item-link{
    text-decoration: none;
    color: #29292B;
}

.faq_item-link:hover{
    color: #29292B;
}

.faq_item-desc {
    color: #29292B;
}

.faq_item-desc:hover {
    color: #29292B;
}

.faq_img-block {
    background: linear-gradient(316deg, rgba(1,112,176,1) 5%, rgba(24,187,235,1) 100%);
    border-radius: 10px;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    transition: .4s all linear;
}

.faq_img-block:hover {
    background: linear-gradient(316deg, rgba(0,130,213,1) 5%, rgba(47,207,254,1) 100%);
}

.animate-faq_item {
    transform: rotate(180deg);
}

.faq_img {
}

.faq_right{
    padding-left: 0;
    padding-right: 0;
}

.faq_right-cart {
    width: 100%;
    max-width: 510px;
    min-height: 100px;
    margin-top: 20px;
    margin-left: -35px;
    margin-bottom: 50px;
    padding: 25px 70px 40px 40px;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 10px -10px 0px 0px rgba(241, 241, 241, 0.5),
                20px -20px 0px 0px rgba(235, 235, 235, 0.5);
    position: relative;
}

.faq_right-img {
    position: absolute;
    bottom: 0;
    right: -35px;
}

.faq_right-title {
    font-size: 24px;
    color: #29292B;
    text-align: center;
    margin-bottom: 10px;
}

.faq_right-subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
    color: #A0A0A0;
}

.faq_form input {
    margin-bottom: 30px;
}



.faq_right-bottom {
    position: relative;
    z-index: 1001;
    width: 423px;
    height: 218px;
    min-width: 240px;
    min-height: 125px;
    margin-left: -35px;
    margin-top: -67px;
    background-image: url(./img/faq-form-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-bottom-wrap {
    width: 416px;
    height: 151px;
    min-width: 236px;
    min-height: 85px;
    padding-left: 40px;
}


.faq-bottom-title {
    background: linear-gradient(-45deg, #0170B0, #18BBEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    line-height: 24.19px;
    margin-bottom: 10px;
}

.faq-bottom-subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    color: #6EC5E6
}

/* FAQ END */


/* STEPS */

.steps{
    padding-top: 45px;
    padding-bottom: 100px;
    position: relative;
}
.steps_wrap{
    text-align: center;
}
.step_title {
    font-size: 48px;
    color: #18BBEB;
    margin-bottom: 5px;
}
.steps_subtitle {
    font-size: 22px;
    color: #A0A0A0;
    display: block;
    margin-bottom: 10px;
}

.steps_bottom-title {
    position: relative;
    font-size: 18px;
    color: #0170B0;
    margin-bottom: 105px;
}

.steps_line-leftDent {
    position: absolute;
    z-index: 1000;
    top: 14px;
    left: -40px;
}

.steps_line-rightDent {
    position: absolute;
    z-index: 1000;
    top: -40px;
    right: -90px;
}

.steps_row {
    width: 100%;
    height: 88px;
    margin-bottom: 150px;
    position: relative;
}

.steps_line-wrap {
    width: 100%;
    height: 88px;
}

.steps_line-img {
    width: 100%;
}



.steps_row-date {
    position: absolute;
    width: 440px;
    height: 75px;
    margin: 0 auto;
    top: -50px;
    left: 0px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom , #DFDFDF 10%,  transparent 70%);
    border-image-slice: 1;
}

.steps_row-date p {
    display: inline-block;
    padding: 5px 10px;
    color: #DFDFDF;
    background-color: #fff;
    transform: translate(0%, -55%);
}

.rings-row {
    margin-top: -85px;
    width: 100%;
    position: relative;
}

.ring_wrap {
    max-width: 210px;
    min-height: 20px;
    position: absolute;
}



.ring-desc {
    color: #0082D5;
    font-size: 22px;
}

.ring {
    border-radius: 50%;
    background-color: rgba(24, 187, 235, 0.2);
    margin: 0 auto;
    margin-bottom: 25px;
}

.ring-1 {
    width: 40px;
    height: 40px;
}

.ring-2 {
    width: 40px;
    height: 40px;
}

.ring-3 {
    width: 40px;
    height: 40px;
}

.ring-4 {
    width: 58px;
    height: 58px;
}

.ring-5 {
    width: 77px;
    height: 77px;
}


.ring-inset{
    border-radius: 50%;
    background: linear-gradient(316deg, rgba(1,112,176,1) 5%, rgba(24,187,235,1) 100%);
    margin: 0 auto;
}
.inset-1{
    width: 22px;
    height: 22px;
    transform: translateY(9px);
}

.inset-2{
    width: 22px;
    height: 22px;
    transform: translateY(9px);
}

.inset-3{
    width: 22px;
    height: 22px;
    transform: translateY(9px);
}

.inset-4{
    width: 33px;
    height: 33px;
    transform: translateY(13px);
}

.inset-5{
    width: 44px;
    height: 44px;
    transform: translateY(17px);
}


.ring-white {
    margin: 0 auto;
    background-color: transparent;
    border-radius: 50%;
}

.wrap-1:hover .ring-white-1,
.wrap-2:hover .ring-white-2,
.wrap-3:hover .ring-white-3,
.wrap-4:hover .ring-white-4,
.wrap-5:hover .ring-white-5{
    background-color: #fff;
}



.ring-white-1 {
    width: 8px;
    height: 8px;
    transform: translateY(7px);
}
.ring-white-2 {
    width: 8px;
    height: 8px;
    transform: translateY(7px);
}
.ring-white-3 {
    width: 8px;
    height: 8px;
    transform: translateY(7px);
}
.ring-white-4 {
    width: 11px;
    height: 11px;
    transform: translateY(11px);
}


.ring-white-5 {
    width: 11px;
    height: 11px;
    transform: translateY(16px);
}

.steps_img {
    width: 100%;
}


.steps_img-block{
    position: absolute;
    max-width: 400px;
}


/* TEAM */

.team {
    padding-bottom: 50px;
}

.team_header {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, #0170B0, #18BBEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team_bottom {
    

}

.team_left {
    position: relative;
}


.team_left-arrowRight{
    position: absolute;
    left: 46%;
    bottom: -2%;
    z-index: 9999;
    transform: scale(-1, 1) rotate(180deg);
    
}

.team_left-arrowLeft{
    position: absolute;
    z-index: 9999;
    transform: scale(1, 1) rotate(0deg);
    left: 48%;
    top: -5%;
}




.team_left-item {
    display: flex;
    align-items: center;
    padding: 22px 0px 13px 35px;
    background: #F8F8F8;
    border-radius: 10px;
    margin-bottom: 15px;
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.team_left-desc{
    margin-bottom: 0;
}

.team_left-round {
    position: relative;
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
    background-color: #F8F8F8;
    margin-right: 25px;
    border: 3px solid #F8F8F8;
    transition: all 0.3s linear;
}

.team_left-item:hover{
    background-color: #FFFFFF;
}

.team_left-item:hover .team_left-round{
}

.team_left-item.activeTeamItem{
    background-color: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}

.team_left-item.activeTeamItem .team_left-round{
    border: 3px solid rgba(0,130,213,1);
}

.team_left-img {
    position: absolute;
}

.team_left-img-1 {
    top: -14px;
    left: -4px;
}

.team_left-img-2 {
    top: -15px;
    left: -4px;
}

.team_left-img-3 {
    top: -14px;
    left: -3px;
}

.team_left-img-4 {
    top: -17px;
    left: -5px;
}

.team_right-desc .mark-span {
    font-size: 24px;
}

.team_right-block {
    margin-bottom: 35px;
}

.team_right-bottom{
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 0;
}

.team_right-img {
    width: 100%;
}

/* TEAM END */


/* LOCATE */

.locate_wrap {
    padding: 90px 0px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 90px;
}

.locate_block {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.locate_block-img {
    max-width: 386px;
}

.locate_subtitle {
    margin-bottom: 30px;
}

.locate_desc-top {
    font-size: 14px;
    color: #A3A3A3;
}

.locate_desc-middle {
    font-size: 24px;
    line-height: 120%;
}


/* LOCATE END */

/* CALL  */

.call_right-img {
    width: 100%;
}

.call_left-title.mark-span {
    color: #1C9DE5;
}

/* CALL END */

/* FOOTER */

.footer {
    background: #0170B0;
    padding: 40px 0px 70px 0px;
    
}

.footer_wrap {
    color: #AAE8FF;
}

.fotter_logo-block {
    max-width: 270px;
    margin-bottom: 20px;
}

.footer_logo-img {
    width: 100%;
}

.footer_service-title, .footer_company-title{
    color: #8BE5FF;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 24px;
}

.footer_phone{
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    font-weight: 700;
}

.footer_list-item, .company_list-item{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer_media-item:not(:last-child){
    margin-right: 12px;
}

.footer_media-dev{
    font-size: 14px;
    text-align: right;
    color: #AAE8FF;
}

.footer_media-img{
    width: 100%;
}

/* FOOTER END */

/* MEDIAQUERY */


@media (max-width: 1919.98px){
    .container {
        max-width: 1200px;
    }

    .service_scalp-block {
        display: block;
        position: absolute;
        bottom: -13%;
        right: 0%;
        content: '';
    }

    .service_scalp-img {
        width: 75%;
    }
}

@media (max-width: 1500px) {
    .header {
        padding: 22px 20px;
    }

    .nav_item:not(:last-child) {
        margin-right: 40px;
    }


    
    .service_scalp-block {
        display: none;
    }
}


@media (min-width: 1439.98px){
    .header {
        padding: 22px 20px;
    }

    .service_scalp-block{
        display: block;
    }
}


@media  (min-width: 1200px) and (max-width: 1439.98px) {
    .header {
        padding: 12px 20px;
    }

    .nav_item:not(:last-child) {
        margin-right: 15px;
    }

    .header_contact-imgWrap {
        max-width: 25px;
        max-height: 25px;
        min-width: 25px;
        min-height: 25px;
    }

    .header_contact-phone {
        font-size: 19px;
    }

    .header_contact-sub {
        font-size: 13px;
    }

}


@media (max-width: 1199.98px){

    .sidebar_nav-item{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .sidebar_phone {
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #0170B0;
    }

    .sidebar_callForm{
        position: relative;
        text-decoration: none;
        font-size: 15px;
        color: #0170B0;
        left: 10px;
    }

    .sidebar_callForm::after{
        position: absolute;
        content: '';
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #0d6efd;

    }
    
    .plan_title {
        font-size: 42px;
    }

    .because_item-desc{
        font-size: 17px;
        width: 100%;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .header{
        padding: 10px;
    }
   

    .plan_subtitle {
        font-size: 16px;
    }

}

@media (max-width: 991.98px) {
    .form-general input {
        margin-bottom: 20px;
    }

    .hide-span {
        display: none;
    }

    .show-span {
        display: block;
    }

    .form-general > input {
        font-size: 10px;
    }
    
    /* GENEREAL ADAPTIVE END */
    
    
    
    /* OWL ADAPTIVE END */
    
    .header {
        padding: 10px 10px 10px 10px;
    }

    .header_logoblock-img {
        max-width: 103px;
    }

    .header_logo-desc{
        max-width: 103px;
        font-size: 10px;
    }

    

    /* HEADER ADAPTIVE END */

    .plan {
        padding-bottom: 50px;
        padding-top: 90px;
    }

    .plan_right {
        text-align: center;
    }

    .plan_title {
        font-size: 30px;
    }

    .plan_subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .plan_img {
        margin-left: 0;
    }

    .plan_left {
        margin-bottom: 20px;
    }
    
    /* PLAN ADAPTIVE END */

    .gift_top {
        text-align: left;
    }

    .gift_header {
        font-size: 24px;
    }

    .gift_slider {
        margin-bottom: 12px;
    }

    .gift_subtitle {
        font-size: 12px;
    }

    .gift_bottom-subtitle {
        font-size: 10px;
        padding-left: 26px;
        margin-right: 1.5rem!important;
        margin-left: 1.5rem!important;
    }

    .gift_bottom-subtitle::before {
        top: 2px;
        width: 17px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* GIFT ADAPTIVE END */

    .service {
        padding-top: 20px;
        background-image: url(./img/service-bg-sm.png);
    }

    .service_title {
        font-size: 24px;
        margin-bottom: 17px;
    }

    .service_item {
        margin-bottom: 20px;
    }

    .service_item-block {
        width: 73px;
        height: 73px;
        margin-bottom: 10px;
    }

    .service_item-img {
        width: 44px;
        height: 44px;
    }

    .service_item-title {
        font-size: 14px;
        line-height: 18px;
    }
    .service_desc-list {
        font-size: 8px;
        line-height: 9.6px;
    }

    /* SERVICE ADAPTIVE END */
    
    .consult {
        padding-top: 20px;
        position: relative;
    }

    .consult_top {
        text-align: left;
    }

    .consult_title {
        font-size: 24px;
    }

    .consult_subtitle {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .consult_right-title {
        font-size: 16px;
    }

    .consult_right-subtitle {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .consult_form {
        margin-bottom: 15px;
    }

    .consult_form-btn.button-general {
        max-width: 178px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 12px;
    }

    .consult_footer-name,
    .consult_footer-location 
    {
        font-size: 8px;
    }

    .consult_footer-name > .mark-span,
    .consult_footer-location > .mark-span
    {
        font-size: 11px;
    }

    .consult_right-footer {
        padding-left: 30px;
    }

    .consult_right-footer > p {
        margin-bottom: 12px;
    }

    .consult_footer-name::before {
        left: -27px;
        width: 36px;
        height: 26px;
        background-size: contain;
    }

    .consult_footer-location::before {
        left: -27px;
        height: 27px;
        background-size: contain;
    }

    .consult_scalp-block {
        position: absolute;
        bottom: -18%;
        right: -45%;
        content: "";
        max-width: 256px;
        transform: rotate(30deg);
    }
    .consult_scalp-img{
        width: 100%;
    }
    
    
    /* CONSULT ADAPTIVE END */

    .faq_title{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .faq_item-title{
        font-size: 12px;
    }

    .faq_item {
        padding: 12px 9px 12px 13px;
    }

    .faq_img-block {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
        border-radius: 5px;
    }

    .faq_img{
        transform: scale(0.7);
    }

    .faq_right{
        margin: 0 auto;
    }

    .faq_right-cart {
        padding: 18px 27px 18px 11px;
        margin-left: -14px;
        box-shadow: 7px -7px 0px 0px rgb(241 241 241 / 50%), 15px -15px 0px 0px rgb(235 235 235 / 50%);
    }

    .faq_right-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .faq_right-subtitle {
        font-size: 10px;
    }

    .faq_right-img {
        width: 115px;
        height: 127px;
    }

    .faq_right-bottom {
        min-width: 240px;
        min-height: 124px;
        width: 240px;
        height: 124px;
        margin-left: -14px;
        margin-top: -63px;
    }

    .faq-bottom-wrap{
        min-width: 236.32px;
        min-height: 85.71px;
        width: 236.32px;
        height: 85.71px;
        padding-left: 23px;
    }

    .faq-bottom-title {
        font-size: 14px;
        line-height: 13.37px;
    }

    .faq-bottom-subtitle {
        font-size: 8px;
        line-height: 9.6px;
    }

    .faq_form-btn{
        max-width: 178px;
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 12px;
    }
    
    /* FAQ ADAPTIVE END */

   
    .steps {
        padding-top: 30px;
        padding-bottom: 50px;
        overflow: hidden;
    }

    .steps_title {
        margin: 0 auto;
        font-size: 24px;
    }

    .steps_title.mark-span{
        font-size: 24px;
    }


    .steps_subtitle{
        font-size: 12px;
    }

    .steps_bottom-title {
        font-size: 10px;
        margin-bottom: 75px;
    }

    .steps-media-width{
        max-width: 576px;
    }

    .steps_line-imgMobile {
        width: 100%;
    }

    .steps_row-date {
        width: 281px;
        height: 55px;
        top: -52px;
        left: calc(20% - 116px);
    }

    
    .steps_line-leftDent {
        top: 9%;
        left: -22px;
        width: 20px;
        height: 34px;
    }
    
    
    .steps_leftDent{
        width: 100%;
    }

    .steps_line-rightDent {
        right: -9%;
        top: -29%;
        width: 54px;
        height: 78px;
    }

    .steps_rightDent{
        width: 100%;
    }

    .ring-desc{
        font-size: 12px;
    }

    .ring {
        margin-bottom: 15px;
    }

    .ring-1 {
        width: 20px;
        height: 20px;
    }
    
    .ring-2 {
        width: 20px;
        height: 20px;
    }
    
    .ring-3 {
        width: 20px;
        height: 20px;
    }
    
    .ring-4 {
        width: 30px;
        height: 30px;
    }
    
    .ring-5 {
        width: 40px;
        height: 40px;
    }

    .inset-1{
        width: 12px;
        height: 12px;
        transform: translateY(4px);
    }
    
    .inset-2{
        width: 12px;
        height: 12px;
        transform: translateY(4px);
    }
    
    .inset-3{
        width: 12px;
        height: 12px;
        transform: translateY(4px);
    }
    
    .inset-4{
        width: 16px;
        height: 16px;
        transform: translateY(7px);
    }
    
    .inset-5{
        width: 22px;
        height: 22px;
        transform: translateY(9px);
    }
    
    .wrap-1 {
        transform: translate(-94px, 52px);
    }

    .wrap-2 {
        transform: translate(46px, 30px);
    }

    .wrap-3 {
        transform: translate(88%, 48%);
    }
    .wrap-4 {
        transform: translate(162%, 89%);
    }
    
    .wrap-5 {
        transform: translate(230%, 32%);
    }

    


    
    .ring-white {
        width: 6px;
        height: 6px;
    }
    
    .ring-white-1{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transform: translateY(3px);
    }
    
    .ring-white-2{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transform: translateY(3px);
    }
    
    .ring-white-3{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transform: translateY(3px);
    }
    
    .ring-white-4{
        transform: translateY(4px);
    }
    
    .ring-white-5{
        transform: translateY(8px);
    }


    /* STEPS ADAPTIVE END */
    .because{
        margin-bottom: 35px;
    }
    
    .because-pre-wrap{
        max-width: 320px;
    }

    .because-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .because_list-wrap{}

    .because_item-desc {
        width: 161px;
        font-size: 12px;
        line-height: 18px;
    }

    
    .because_item-desc-1{
        width: 129px;
    }

    .because_item-desc-2{
        width: 148px;
    }


    .because_item-title {
        font-size: 20px;
        line-height: 30px;
    }

    
    .because_item-img{
        max-width: 320px;
    }

    
    .because_item-img-1{
        transform: translateX(9%);
    }
    
    .because_item-img-2{
        transform: translateX(-13%);
    }
    
    .because_item-img-3{
        transform: translateX(10%) ;
    }

    /* BECAUSE ADAPTIVE END */

    .slider_title {
        font-size: 24px;
    }

    .slider_subtitle {
        font-size: 12px;
        margin-bottom: 20px;
    }


    /* SLIDER ADAPTIVE END */
    
    .team {
        margin-top: -100px;
        padding-bottom: 30px;
    }
    
    .team_header {
        font-size: 24px;
    }

    .team_right-desc .mark-span {
        font-size: 14px;
        margin-bottom: 0;
    }

    .team_right-bottom {
        font-size: 9px;
        line-height: 10.8px;
        margin-bottom: 15px;
    }

    .team_left-item {
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }

    .team_left-item:not(:last-child){
        
    }
    
    .team_left-item.activeTeamItem {
        box-shadow: none;
    }

    .team_left-round {
        margin-right: 0;
    }

    .team_right-block{
        position: relative;
    }

    .team_right-leftBlock{
        z-index: 9999;
        position: absolute;
        left: 0%;
        top: 29%;
    }

    .team_right-rightBlock {
        z-index: 9999;
        position: absolute;
        right: 0%;
        top: 29%;
        transform: scale(-1, 1);
    }

    .team_slider-item{
        max-width: 277px;
    }

    /* TEAM ADAPTIVE END */
    
    .locate_wrap {
        padding: 0;
    }
    
    .locate_block{
        transform: translate(-60%, 65%);
        padding: 9px;
    }

    .locate_title{
        margin-bottom: 0px;
        font-size: 24px;
    }

    .locate_subtitle{
        margin-bottom: 10px;
    }

    .locate_block-img {
       
    }

    .locate_img{
        width: 100%;
    }

    .locate_desc-top {
        font-size: 15px;
    }

    .locate_desc-middle {
        font-size: 20px;
    }

    .locate_desc-btn.button-general {
        width: 212px;
        min-width: 212px;
        font-size: 14px;
    }

    /* CALL ADAPTIVE END */
    
    .call {
        padding-bottom: 50px;
        overflow: hidden;
    }

    .call > .container{
        position: relative;
    }

    
    .call-fly-img {
        
    }

    .call_left {
        padding-top: 15px;
    }


    .call_left-form {
    }

    .call_form-btn.button-general {
        width: 225px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    /* FOOTER ADAPTIVE END */
    
    .footer {
        padding-bottom: 30px;
    }

    .footer_wrap {
        text-align: center;
    }

    .fotter_logo-block {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .footer_list  li {
        list-style-type: none;
        /* Убираем маркеры */
      }
      
    .footer_list  ul {
        margin-left: 0;
        /* Отступ слева в браузере IE и Opera */
        padding-left: 0;
        /* Отступ слева в браузере Firefox, Safari, Chrome */
    }

    .footer_media-wrap{
        margin-bottom: 20px;
    }

    .footer_media-dev{
        text-align: center;
    }

    .footer_media-item{
        width: 57px;
        height: 57px;
    }
}

@media (max-width: 819.98px) {
    .owl-prev-arrow{
        left: -5%;
    }
    
    .owl-next-arrow{
        right: -5%;
    }
    
}

@media (max-width: 767.98px){
    .steps-media-width{
        max-width: 320px;
    }

    .steps {
        margin-bottom: 150px;
        padding-top: 30px;
        overflow: hidden;
    }

    .steps_row {
    }

    .steps_bottom-title {
        font-size: 10px;
        margin-bottom: 45px;
    }

    .steps-media-width{
        max-width: 320px;
    }

    .steps_line-imgMobile {
        width: 100%;
    }

    .steps_row-date{
        width: 215px;
        height: 55px;
        top: -12px;
        left: calc(50% - 110px);
    }

    .steps_line-leftDent {
        top: 44%;
        left: 10%;
        width: 20px;
        height: 34px;
    }

    .steps_line-rightDent {
        right: 36%;
        top: 147%;
        width: 54px;
        height: 78px;
    }

    .wrap-1 {
        transform: translate(-20%, -135%);
    }

    .wrap-2 {
        transform: translate(30%, -128%);
    }

    .wrap-3 {
        transform: translate(81%, -113%);
    }
    .wrap-4 {
        transform: translate(-20%, 9%);
    }
    .wrap-5 {
        transform: translate(30%, -8%);
    }

}



@media (min-width: 320px){
    .sidebar {
        margin-top: 64px;
    }

    .faq_title {
        text-align: center;
    }

    .faq_left {
        margin: 0 auto;
    }

    .faq_item-desc {
        padding-top: 5px;
        font-size: 9px;
    }

    .because_list-item:nth-child(2) .because_item-title{
        padding-right: 10px;
    }

    .locate_wrap {
        margin-bottom: 340px;
    }

    .call {
        margin-top: -320px;
    }

    .call-fly-block{
        transform: scale(1, 1) translate(-17%, 50%);
    }

    .team_left {
        justify-content: space-between;
    }

}

@media (min-width: 375px){

    .call {
        margin-top: -280px;
    }
    .call-fly-block {
        transform: scale(1, 1) translate(3%, 50%);
    }
}

@media (min-width: 425px){
    .faq_item-title {
        font-size: 14px;
    }

    .faq_item-desc {
        font-size: 12px;
    }

    .locate_wrap {
        margin-bottom: 690px;
    }

    .call-fly-block {
        display: none;
    }

    .team_left {
        justify-content: center;
    }

    .team_left-item:not(:last-child){
        margin-left: 15px;
    }

    .owl-stage {
        padding-top: 130px;
    }
}

@media (min-width: 576px){


    .because_item-title{
        font-size: 27px;
    }
    .steps_img-block{
        max-width: 150px;
    }

    .because_list-item:nth-child(2) .because_item-title{
        padding-right: 0px;
    }

    .locate_wrap {
        margin-bottom: 600px;
    }

    
    
}


@media (min-width: 320px) and (max-width: 767.98px){

    .steps_img-block {
        max-width: 120px;
        transform: translateY(0%);
        bottom: 12%;
        right: 0%;
    }

    .steps_img{
        transform: scale(1,1);
    }

}

@media (min-width: 768px) {

    
    .slider-wrap{
        width: 702px;
    }
    
    .slider-owl-2 {
        width: 702px;
    }


    .steps_img-block{
        display: none;
    }
    
    
    .steps_img {
        width: 100%;
        transform: scale(-1,1);
    }

    .because_item-title{
        font-size: 36px;
    }

    

    /* .locate_wrap {
        margin-bottom: 360px;
    } */

}


@media (min-width: 991.98px){

    .faq_title{
        text-align: left;
    }

    .faq_left {
        margin: 0;
    }
    
    .faq_item-desc {
        font-size: 14px;
    }
    .faq_item-title {
        font-size: 20px;
    }
    .steps{
        padding-bottom: 70px;
    }
    
    .call{
        margin-bottom: 60px;
    }

    .locate_wrap{
        padding: 0;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px){

    .steps-media-width{
        max-width: 768px;
    }
    .ring-desc {
        font-size: 18px;
    }

    .steps_leftDent, .steps_rightDent{
        width: 100%;
    }

    .steps_line-leftDent {
        top: 5px;
        left: -37px;
        width: 35px;
    }

    .steps_line-rightDent {
        top: -53px;
        right: -102px;
        width: 100px;
    }

    .wrap-1 {
        transform: translate(-45%, 24%);
    }

    .wrap-2 {
        transform: translate(49%, 3%);
        z-index: 1000;
    }

    .wrap-3 {
        transform: translate(165%, 26%);
    }

    .wrap-4 {
        transform: translate(246%, 44%);
    }

    .wrap-5 {
        transform: translate(328%, 8%);
    }
    
    .ring-white-4 {
        width: 11px;
        height: 11px;
        transform: translateY(9px);
    }

    .ring-white-5 {
        width: 11px;
        height: 11px;
        transform: translateY(15px);
    }

    .steps_img-block {
        display: none;
    }


    .sidebar {
        margin-top: 83px;
    }

    .locate_block {
        left: 56%;
    }

    .locate_wrap {
        margin-bottom: 400px;
    }
}

@media (min-width: 1024px) {
    
    .steps_img-block{
        display: none;
    }
}

@media (min-width: 1088px) {
    .because_item-title {
        font-size: 62px;
    }
}

@media (min-width: 1200px){
    
    .locate_wrap{
        margin-bottom: 300px;
    }

    .steps-media-width{
        max-width: 1200px;
    }

    .steps_img-block{
        display: none;
    }
    
    .wrap-1 {
        transform: translate(-45%, 19%);
    }

    .wrap-2 {
        transform: translate(61%, -7%);
        z-index: 1000;
    }

    .wrap-3 {
        transform: translate(165%, 7%);
    }

    .wrap-4 {
        transform: translate(313%, 41%);
    }

    .wrap-5 {
        transform: translate(429%, 4%);
    }

}


@media (min-width: 1450px){
    /* .owl-item {
        transform: scale(0.8);
    }

    .owl-item.active{
        filter: blur(4px);
        transform: scale(0.8);
    }
    
    .owl-item.active.center  {
        transform: translateY(-2%)  scale(0.9);
        filter: blur(0);
    } */
}


@media (min-width: 1920px){
    .service_scalp-block{
        position: absolute;
        bottom: -15%;
        right: 0;
        content: '';
    }

    .container {
        max-width: 1200px;
    }

    .steps_img-block {
        max-width: 400px;
        display: block;
        left: -20px;
        top: 130px;
    }

}



/* END MEDIAQUERY */



.div{
    padding-top: 125px;
    height: 1200px;
    background-color: red;
}